<template>
  <div 
    class="counter"
  >
    <div>
      {{ value }}
    </div>
    <button 
      class="increase"
      @click="increment"
    > 
      + 
    </button>
    <button 
      class="decrese"
      @click="decrement"
    > 
      - 
    </button>
  </div>
</template>

<script>
export default {
  data() {
    return {
      value: 0,
    };
  },
  methods: {
    increment() {
      this.value += 1;
    },
    decrement() {
      this.value -= 1;
    },
  }
};
</script>

<style>

</style>