<template>
  <div 
    class="msg"
    @click="hiddenStatus = !hiddenStatus"
  >
    <h1 
      v-if="!hiddenStatus"
    >
      {{ msg }}
    </h1>
  </div>
</template>

<script>
export default {
  name: 'HelloWorld',
  props: {
    msg: String,
  },
  data() {
    return {
      hiddenStatus: false,
    }
  },
};
</script>

<style scoped>
.msg {
  background-color: yellow;
}
</style>
