<template>
  <div>
    <Message msg="Welcome to Your Vue.js App"/>
    <Counter />
  </div>
</template>

<script>
import Message from './components/Message.vue';
import Counter from './components/Counter.vue';

export default {
  name: 'App',
  components: {
    Message,
    Counter,
  }
};
</script>

<style scoped>

</style>
